<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        <span appChangeText >Welcome to {{title}}</span>
    </h1>
</div>
<div> 
    <select (change)="changemonths($event)">
        <option *ngFor="let i of months">{{i}}</option>
    </select>
</div>

<br/>
<div>
    <span *ngIf="isavailable; else condition2">Condition is valid.</span>
    <ng-template #condition1>Condition is valid from template</ng-template>
    <ng-template #condition2>Condition is invalid from template</ng-template>
</div>


<button (click)="myClickFunction($event)">Click Me</button>
<!--<app-new-cmp></app-new-cmp>

<h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
        <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
</ul>
-->
